@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-indigo {
        @apply py-2 px-4 border border-indigo-600 bg-indigo-700 text-white hover:bg-indigo-500 active:bg-indigo-400 rounded-md inline-flex items-center
    }

    .btn-sky {
        @apply py-2 px-4 border border-sky-400 bg-sky-600 hover:bg-sky-700 text-white active:bg-sky-400 rounded-md inline-flex items-center
    }

    .btn-copy {
        @apply py-1 px-2 my-1 border border-gray-300 bg-gray-100 hover:bg-gray-200 text-xs active:bg-gray-400 rounded-md inline-flex items-center
    }

    a {
        @apply text-sky-400
    }

    a:hover {
        @apply text-sky-600
    }

    input[type="text"] {
        @apply py-1 px-2 border border-sky-600 rounded-md
    }
}